<%-include("menu")%>
<h1>Guests</h1>
<% if(guest.length){ %>
<table border="2"> 
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Mobile.No</th>
    </tr>
<% guest.forEach(function(e,i){
    if(e.food){
    %>
 
    <tr>
        <td><%=(i+1)%></td>
        <td><%=e.name%></td>
        <td><%=e.mobile%></td>
    </tr>
<%}
}
)%>
</table>
<% } else{%>
<h1>No Guests</h1>
    <% } %>